OLLAMA_URL="http://192.168.9.77:11434"
OLLAMA_MODEL = "llama3.2:3b"

# MySQL Configuration
# DB_HOST=""
# DB_USER="root"
# DB_PASSWORD="admin"
# DB_NAME="trackerdb"

DB_HOST=mysql-tracker
DB_PORT=3306
DB_USER=trackeruser
DB_PASSWORD=trackerpass
DB_NAME=trackerdb

# Root password for MySQL
MYSQL_ROOT_PASSWORD=rootpassword

#App
APP_NAME="Person-detector"
APP_VERSION="1.0.0"

#MODELO
MODEL_NAME="yolov8n.pt"

#Ubicacion imagenes
path = "detections"

#mycamera
IsLap=true

#endpoint
ENDPOINT="http://127.0.0.1:3001/detections"

#Conexión a cámaras
rtsp_url = "rtsp://desarrollo:Password123.@192.168.6.31:554/Streaming/Channels/202"

#Channels camera ---- X01 es versión Amplificada
#101= pasillo hacia show Amplificada
#102= pasillo hacia show
#201= oficina Lulú Amplificado
#202= oficina Lulú
#301=Pasillo desde warrom Amplificada, viendo a cocina
#302= Warroom
#401= SITE Amplificada
#402= SITE
#501= SOC NOC Amplificado
#502= SOC NOC
#601= Entrada viendo a recepción Amplificada
#602= Entrada, viendo todo
#701= Salida de Emergencia Amplificada
#702= Salida de Emergencia
#801= Desde esquina RH Amplificada
#802= Desde esquina RH
