services:
  postgres-tracker:
    image: postgres:16-alpine
    container_name: postgres-tracker
    restart: unless-stopped
    tty: true
    volumes:
      - tracker-database:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - trackernetwork
    mem_limit: 6g

  tracker:
    build:
      context: "."
      dockerfile: Dockerfile
    container_name: tracker
    restart: unless-stopped
    tty: true
    volumes:
      - .:/app
    ports:
      - 80:80
    networks:
      - trackernetwork

#  ollama:
#      image: ollama/ollama:latest
#      container_name: ollama
#      restart: always
#      ports:
#        - "11434:11434"
#      environment:
#        - OLLAMA_NUM_THREADS=8
#      volumes:
#        - ollama-local:/root/.ollama
#      networks:
#        - trackernetwork

volumes:
  tracker-database:
    driver: local
#  ollama-local:
#    driver: local

networks:
  trackernetwork:
    driver: bridge